{% extends 'homepage/home.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="row justify-content-center bg-dark">
        <div class="col-6 bg-dark text-white">
            <form id="login_form" name="login_form" action="{{ path('app_login') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <h1 class="h3 mb-3 d-flex justify-content-center font-weight-normal">
                    You are already logged in as {{ app.user.nick }} </h1>
                    <br>
                    <div class="mb-3 d-flex justify-content-center">
                        <button class="btn btn-lg btn-dark text-white mr-1 " type="submit">
                            <a href="{{ path('homepage') }}">Home</a>
                        </button>

                        <button class="btn btn-lg btn-secondary text-white" type="submit">
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </button>
                    </div>
                {% endif %}

                {% if app.user == false %}
        
                <div class="mb-5">
                    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                    <label class="mt-2" for="username">Nick</label>
                    <input type="text" value="{{ lastUsername }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
                    <label class="mt-2" for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-primary mt-3" id="login_submit" type="submit">
                        Sign in       
                    </button>
                </div>
            </form>

            <div class="mb-5">
                Don't have an account? <br>
                <button id="profile-register" class="btn btn-secondary text-white mt-2" type="link">
                <a class="text-decoration-none text-dark" href="{{ path('app_register') }}">Register</a>
                </button>
            </div>
        </div>
    </div>

    {% endif %}
            
        
    
{% endblock %}
