{% extends 'homepage/home.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6 bg-dark text-white">
            {% if app.user %}
                <div class="mb-5">
                    <h1 class="h3 mb-2 font-weight-normal">My Games</h1>
                    {% for a in gamearray %}
                        <div class="mt-5 userbox">
                            <label class="mt-2" for="username">Winner:</label>
                            <h4 class="mt-2" for="username">{{a.winner}}</h3>
                            
                            <label class="mt-2" for="username">Loser:</label>
                            <h4 class="mt-2" for="username">{{a.loser}}</h3>
                            
                            <label class="mt-2" for="text">Winner's color:</label>
                            <h4 class="mt-2" for="text">{{a.winnerColor}}</h3>
                            
                            <label class="mt-2" for="number">Winner's move count:</label>
                            <h4 class="mt-2" for="number">{{a.moveCount}}</h3>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not app.user %}
                <h1 class="h3 mb-3 font-weight-normal">You don't have access to this page :(</h1>
                <button id="profile-register" class="btn btn-secondary text-white mt-2" type="link">
                    <a class="text-decoration-none text-dark" href="{{ path('app_login') }}">Sign In</a>
                </button>
            {% endif %}
            
        </div>
    </div>
        
{% endblock %}
